@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-size: 1.5rem;
}

input,
textarea,
select,
button {
  width: auto;
  max-width: 200px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo_text {
  font-family: 'Acme', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 7rem;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
}

.left {
  background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.right {
  background-color: rgb(230, 230, 230);
  flex: 2 2 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.logo {
  margin-top: 200px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100px;
  height: auto;
}

.credit {
  align-self: center;
  color: rgb(255, 255, 255);
  margin-bottom: 5px;
}

.form-container {
  background: rgb(255, 255, 255);
  margin: 5px 0px 5px 0px;
  box-shadow: 2px 2px 4px rgb(131, 131, 131);
}

.signup-form {
  margin-left: 50px;
  padding: 20px 0px 20px 0px;
}

.form-item {
  display: flex;
  flex-flow: column nowrap;
  padding-right: 50px;
}

.signup-form fieldset {
  border: none;
  display: flex;
  flex-flow: row wrap;
  padding: 5px 0px 5px 0px;
  justify-content: flex-start;
}

button {
  width: 100%;
  max-width: 200px;
  margin: 15px 5px 0px 50px;
  background-color: #596D48;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.7rem;
  color: rgb(255, 255, 255);
}

.right p {
  padding: 10px 0px 10px 50px;
}

.signup-form label {
  font-size: 1.4rem;
  font-weight: 600;
  color:rgb(37, 37, 37);
}

.signup-form input {
  outline: none !important;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 5px;
  padding: 4px;
}

input:focus {
  outline: none !important;
  border: 1px solid rgb(69, 187, 255);
}

.intro {
  font-size: 2rem;
  font-weight: 600;
}

.error {
  outline: none !important;
  border: 1px solid rgb(255, 69, 69);
}

.login {
  margin-top: 18px;
}